{
  "presets": ["react-native"],
  "plugins": [
    ["module-alias", [
      {"src": "./src", "expose": "src"},
      {"src": "./img","expose": "images"},
      {"src": "./services","expose": "services"}
    ]]
  ]
}